/* :root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
} */

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

.container {
  margin: 0;
  padding-top: 90px;
  width: 100%;
  max-width: 1366px;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */

  display: grid;
  grid-template-columns: repeat(auto-fill, 346px);
  grid-auto-rows: 11px;
  justify-content: center;

}

.card {
  padding: 0;
  margin: 3px 2px;
  border-radius: 1px;
  display: flex;
  position: relative;
  height: auto;
  width: 344px;
  align-items: flex-end;
  background-size: cover;
  box-shadow: 0 0 1px 0px;
  cursor: pointer;
}

.small {
  grid-row-end: span 26;
}

.medium {
  grid-row-end: span 21;
}

.large {
  grid-row-end: span 47;
}


@media (max-width: 767px) {
  .container {
      padding-top: 90px;
      grid-template-columns: repeat(auto-fill, 162px);
  }
  .large {
    grid-row-end: span 22;
  }
  .medium {
    grid-row-end: span 10;
  }
  .card {
    width: 158px;

  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-top: 120px;
    grid-template-columns: repeat(auto-fill, 295px);
}

  .large {
    grid-row-end: span 40;
  }
  .medium {
    grid-row-end: span 18;
  }
  .card {
    width: 284px;

  }
}