/* :root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
} */

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1366px;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */

  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-auto-rows: 11px;
  justify-content: center;

}

.card {
  padding: 0;
  margin: 3px 2px;
  border-radius: 1px;
  display: flex;
  position: relative;
  height: auto;
  width: 344px;
  align-items: flex-end;
  background-size: cover;
  box-shadow: 0 0 1px 0px;
}

.small {
  grid-row-end: span 26;
}

.medium {
  grid-row-end: span 21;
}

.large {
  grid-row-end: span 47;
}